@import url(./reset.css);
@import url(./fonts.css);
@import url(./themes/light.css);
@import url(./themes/dark.css);

html,
body {
    overscroll-behavior: none;
    overflow: hidden;
}

.app {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: var(--page-background);
    color: var(--primary-color);
    display: flex;
    min-height: 400px;

}

.container {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
}


.app__content {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    transition: .4s transform linear;
}


@media (max-width:1100px) {
    .app__content.sidebar-open {
        transform: translateX(340px);
    }
}

@media (max-width:520px) {
    .container {
        padding: 0 10px;
    }

    .app__content.sidebar-open {
        transform: translateX(300px);
    }
}