@import url(./reset.css);
@import url(./fonts.css);
@import url(./themes/light.css);


body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.container {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    padding-left: 480px;
}

.row__content {
    display: flex;
    height: calc(100vh);
    overflow: scroll;
    flex-direction: column;
    padding-top: 92px;
    gap: 30px;
    padding-bottom: 40px;
}




@media (max-width:1400px) {

    .row {
        padding-left: 340px;
    }
}

@media (max-width:1100px) {
    
    .row {
        padding-left: 90px;
    }
}


@media (max-width:520px) {
    .row {
        padding-left: 40px;
    }

    .container {
        padding: 0 10px;
    }
}