@import url(./reset.css);
@import url(./fonts.css);
@import url(./themes/light.css);
@import url(./themes/dark.css);


.app {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: var(--page-background);
    color: var(--primary-color);
}

.container {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
}

.row__content {
    display: flex;
    flex-grow: 1;
    height: calc(100dvh - 92px);
    margin-top: 92px;
}




@media (max-width:520px) {
    .container {
        padding: 0 10px;
    }
}