.chat-form {
    width: 100%;
    margin: auto auto 0;

}

.chat-form__top {
    display: flex;
}

.chat-form__clear {
    gap: 0 10px;
    font-weight: 500;
    margin-left: auto;
}

.chat-form__message {
    position: relative;
    margin-top: 12px;
}

.chat-form__input {
    height: 44px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid var(--message-border);
    border-radius: 8px;
    background: var(--message-background);
    padding: 0 72px 0 44px;
}

.chat-form__input::placeholder {
    color: var(--secondary-color);
}

.chat-form__button {
    width: 20px;
    height: 20px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

}

.chat-form__button.file {
    left: 16px;
}

.chat-form__button.microphone {
    right: 44px;
}

.chat-form__button.send {
    right: 16px;
}


@media (max-width:768px) {
    .chat-form__clear {
        font-size: 14px;
        gap: 0 6px;
    }
}