.chat {
    flex-grow: 1;
    max-height: 75%;
    overflow-y: auto;
    margin-top: 91px;
}

.chat__messages {
    display: flex;
    min-height: 100%;
   
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.chat__message {
    padding: 24px 0;
    font-size: 18px;
}

.chat__user-message {
    color: var(--secondary-color);
    text-align: end;
    display: flex;
    gap: 0 16px;
    align-items: flex-end;
    justify-content: end;
}

.chat__message-flex {
    display: flex;
    gap: 12px;
}

.chat__date {
    font-size: 14px;
    margin-bottom: 24px;
}

.chat__user-message .chat__date {
    margin-bottom: 8px;
}

.chat__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.chat__pin-angle {
    fill:var(--pin-angle)
}

.chat__pin-angle.active {
    fill: #dcce0b;
}