.chat {
    flex-grow: 1;
    overflow-y: auto;
    margin: 10px 0;
    margin-top: 120px;
    height: calc(100% - 120px);
}

.chat__messages {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.chat__message {
    padding: 24px 0;
    font-size: 18px;
}



.chat__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.chat__message-images {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 16px;
    max-width: 660px;
    margin-left: 40px;
}

.chat__message-image {
    flex-grow: 1;
}

.chat__message-image img {
    width: 100%;
}

@media (max-width:768px) {
    .chat__message-images {
       margin-left: 0;
       max-width: 100%;
    }
}