.chat {
    overflow-y: auto;
    flex-grow: 1;
    margin: 10px 0;
    scrollbar-gutter: stable;
}

.chat__messages {
    display: flex;
    /*min-height: 100%;*/
    flex-direction: column;
    /*justify-content: flex-end;*/
    gap: 8px;
}

.chat__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.chat__text {
    font-size: 18px;
}





@media (max-width:768px) {
    .chat__text {
        font-size: 16px;
    }
}