.app.dark {
    --page-background:#2C2C2E;
    --header-background: #6C6C6D;
    --message-background: #F9F9F9;
    --background-1:#000;
    --background-2:#F8F8F8;


    /* colors */

    --primary-color:#000;
    --secondary-color:#919191;
    --color-1:#00A739;
    --color-2:#D69D0B;
    --color-3:#fff;

    /* border */

    --border-color-1:#d1d5db;
    --border-color-2:#e8e8e8;
    --border-color-3:#e7e7e7;
}