.chat__user-message {
    color: var(--secondary-color);
    text-align: end;
    padding: 24px 0;
}

.chat__message-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 12px;
}

.chat__date {
    font-size: 14px;

}

.chat__pin-angle {
    fill: var(--secondary-color)
}

.chat__pin-angle.active {
    fill: #dcce0b;
}

.chat__edit {
    stroke: var(--secondary-color);
    fill: none;
}

.chat__edit.active {
    stroke: #920e0e;
    fill: none;
}

.chat__files {
    margin-left: auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: flex-end; */
    gap: 10px;
}

.chat__file {
    flex-grow: 1;
    height: calc(50% - 5px);
    width: calc(50% - 5px);
    background-color: #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__files img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

.chat__files video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}